* 
{
	font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
}

body
{
	background: #12141a;
}

.main-div 
{
	background: #1d2028;
	box-sizing: border-box;
	/* width: 581px; */
	/* width: 100%;
	height: 335px; */
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* dis */
}

.container-logcash 
{
	/* background-color: red; */
	/* height: 100%; */
	/* z-index: 1; */
	/* display: flex;
	justify-content: space-between; */
}

.profile-title 
{
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 20px 0;
	margin-bottom: 75px;
	font-weight: bold;
	
	color: #f2f2f2;
	font-size: 0.8em;
}

.container-month 
{
	/* padding-top: 10px; */
	/* background: #12141a; */
	width: 100%;

}

.row-top, .row-bottom
{
	/* color: #474b54; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-top p
{
	/* padding: 0; */
	/* margin: 0 8px; */
	/* margin: 0 4px; */
	font-size: 0.9em;
}

.text-month
{
	color: #787d87;
	padding: 3px 8px;
	/* textMonth.style.color = "#8e8e8f";

	textMonth.style.cursor = "pointer";
	textMonth.style.borderRadius = "4px";
	textMonth.style.display = "flex";
	textMonth.style.justifyContent = "center";
	textMonth.style.alignItems = "center";
	textMonth.style.border = "2px solid rgba(0,0,0,0)"; */
}

/* .text-month:hover
{
	background-color: rgb(0, 186, 188);
	border-radius: 2px;
	cursor: pointer;
	color: white;
} */

.text-cash
{
	color: #b1b1b3;
}

.row-progress-bar 
{
	/* background: #2d313c; */
	display: flex;
	justify-content: space-evenly;
	/* border: 2px solid #3a3f4c; */
	border: 2px solid #2d313c;
	/* box-shadow: 0 0px 10px #12141a75; */
	/* height: 40px; */
	/* border-radius: 5px; */
	/* margin: 8px 0; */
	position: relative;
}

.setting-div {
	/* background-color: red; */
	height: 100%;
	right: 5px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting-button {
	/* background-color: pink; */
	height: 70%;
	aspect-ratio: 1/1;
	background-image: url("icons/settings-5.svg");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0;
	border-radius: 50%;
	transition: 0.4s ease opacity;
}

.side-progress
{
	/* background: #252932; */
	/* background: #2d313c; */
	/* min-width: 40px; */
	/* width: 10%; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* cursor: pointer; */
}

.text-progress
{
	/* padding: 5px 0 0 0; */
	/* margin: 0;
	color: #a8aeb9; */
}


.side-remaining
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.text-remaining
{
	/* background: #234a92; */
	/* padding: 5px 0 0 0;
	margin: 0;
	color: #595d62;
	cursor: pointer; */
}

/*------------------------------------------------------------------------------*/
.popup-remaining
{
	/* border: 1px solid #2d313c;
	top: 80px;
	right: 20px;*/
	width: fit-content;
	/* display: flex;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 10px 20px #12141a3a; */
	/* background-color: #f4f4f4; */
	/* background-color: #191919d2; */
	background-color: red;
	flex-direction: column;

}

.popup-top-div {
	/* background-color: orange; */
	/* height: 30px; */
	/* height: fit-content; */
	/* width: 100%; */
	/* border-radius: 4px;
	border-bottom: 1px solid #2d313c; */
	/* display: flex; */
	/* flex-direction: column;
	justify-content: flex-start; */
	/* white-space: nowrap; */
	/* color: #9b9b9b;
	padding: 6px 30px 6px 6px; */
	padding: 4px 30px 4px 4px;
}

.popup-top-left-text {
	/* color: #c5c5c6;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 20px; */
	/* margin: 10px 10; */
	/* padding: 0 4px; */
	/* text-shadow: rgb(0, 0, 0) 0px 0px 3px; */
	/* padding: 1px 3px 2px 3px; */
	margin: 3px 0 0 3px;
	padding: 0;
}

.popup-top-right-text {
	/* color: #c5c5c6;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 20px; */
	/* margin: 10px 10; */
	margin: 2px 0 0 0;
	/* background-color: red; */
	padding: 2px 3px;
	width: fit-content;
	border-radius: 2px;
	/* text-shadow: rgb(0, 0, 0) 0px 0px 3px; */
}

.popup-top-right-text:hover {
	background-color: #1b1e25;
	color: #e2e2e2;
}

.pop-middle-div {
	padding: 7px 7px 0 7px;
	display: flex;
}

.pop-middle-div-left {
	/* background-color: orange; */
	padding-right: 7px;

	/* height: 100%; */
	border-right: 1px solid rgb(45, 49, 60);
}

.middle-line-1, .middle-line-2 {
	display: flex;
}

.pop-input {
	background-color: #313c48;
	/* background-color: red; */
	height: 18px;
	width: 70px;
	padding: 6px;
	color: white;
	border: 2px solid rgb(45, 49, 60);
	border-radius: 6px;
}

.inputText, .inputText:focus {
	background-color: #313c48;
	color: rgb(198, 198, 198);
	outline: none;
	border: none;
	width: 100%;
	position: relative;
	top: 4px;
	left: -2px;
}

.pop-input:focus-within {
	border: 2px solid rgb(78, 85, 101);
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
	top: -30px;
	font-size: 0.5em;
	opacity: 1;
  }

.floating-label {
	position: relative;
	pointer-events: none;
	color: rgb(122, 122, 122);
	font-size: 0.6em;
	top: -16px;
	white-space: nowrap;
	transition: 0.2s ease all;
}

.middle-line-2 {
	width: 100%;
	margin: 7px 7px 0 0;
	border-top: 1px solid rgb(45, 49, 60);
}

.weekly-habit {
	width: 100%;
	padding: 5px 5px 0 0;
	font-size: 0.7em;
	color: rgb(155, 155, 155);
}

.weekly-habit span {
	margin-left: 6px;
}

.line-habit {
	/* background-color: orange; */
	margin-top: 8px;
	display: flex;
	/* padding: 0 4px; */
	/* height: 20px; */
}

.checkbox-habit {
	background-color: #313c48;
	color: rgb(198, 198, 198);
	width: 16px;
	height: 16px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	/* font-size: 0.9em; */
	font-size: 8px;
	font-weight: bold;
	margin: 0 1px;
	border: 2px solid rgb(45, 49, 60);
}

.pop-middle-div-right {
	/* background-color: grey; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 8px;
	padding-bottom: 8px;
	/* width: 125px; */
}

.div-info {
	/* background-color: red; */
	margin: 2px 2px 2px 0;
	display: flex;
	justify-content: space-between;
}

.title-info {
	color: rgb(155, 155, 155);
	margin: 0;
	padding: 0;
	font-size: 0.6em;
}


.p-open-day-result {
	color: aliceblue;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
}

.salary-container {
	/* background-color: red; */
	width: 100%;
	/* height: 20px; */
	/* margin-bottom: 8px; */
	/* padding-bottom: 8px; */
	/* border-bottom: 1px solid rgb(45, 49, 60); */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	
}

.line-this-selection {
	height: 18px;
	/* background-color: orange; */
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.this-button {
	/* background-color: white; */
	font-size: 0.5em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	border-radius: 9px;
	color: rgb(155, 155, 155);
	/* border: 1px solid rgb(78, 85, 101); */
	/* border: 1px solid rgb(65, 70, 84); */
	border: 1px solid rgb(51, 55, 67);
	cursor: pointer;
}

.selected {
	background-color: white;
	color: #191919;
}

/************************* SALARY *************************/

.salary-circle-container {
	/* background-color: orange; */
	padding: 8px;
}

.salary-circle {
	background-color: rgba(37, 41, 50, 0.5);
	box-shadow: inset 0px 0px 10px rgba(16, 16, 16, 0.5);
	/* background-color: red; */
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid rgb(51, 55, 67);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	/* align-items: flex-end; */
	/* background-color: rgb(37, 37, 143); */
}

.salary-info-container {
	/* background-color: pink; */
	position: absolute;
	top: 35%;
	/* left: 50%; */
	/* background-color: rgb(182, 214, 182); */
	/* opacity: 0; */
}

.salary-amount-line {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 0 4px;
	border-radius: 6px;
}

.salary-euro-sign {
	margin: 3px 2px 0 0;
	padding: 0;
	color: rgb(176, 176, 176);
	font-size: 0.6em;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.salary-integer {
	margin: 0 2px;
	padding: 0;
	font-size: 1.2em;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

.salary-float {
	margin: 3px 0 0 1px;
	padding: 0;
	font-size: 0.8em;
	/* color: rgb(233, 233, 233); */
	color: rgb(211, 211, 211);
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

.salary-percent-line {
	/* background-color: green; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.salary-percent {
	margin: 0;
	padding: 0;
	font-size: 0.6em;
	/* color: rgb(169, 169, 169); */
	color: rgb(176, 176, 176);
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.salary-slide {
	background-color: rgba(0, 186, 188, 0.40);
	height: 0%;
	width: 100%;
	bottom: 0;
	border-radius: 50%/8px 8px 0 0;
	box-shadow: inset 0px -10px 30px rgba(16, 16, 16, 0.4);
	/* position: absolute; */
}

/***************************** GRAPH *****************************/


.salary-graph-container {
	/* background-color: red; */
	/* height: 20px; */
	/* width: 100px; */
	display: flex;
	justify-content: center;
}

.line-graph {
	height: 40px;
	/* width: 100%; */
	/* background-color: orange; */
	flex: 1;
	display: flex;
	justify-content: center;
}

.day-graph {
	/* background-color: blue; */
	/* width: 3px; */
	/* width: 100%; */
	flex: 1;
	height: 100%;
	margin: 0 1px;		/* depending of month or week displayed */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.day-slide {
	background-color: rgba(0, 186, 188, 0.40);
	/* background-color: #313c48; */
	height: 100%;
	/* border-radius: 2px 2px 0 0; */
}

.day-base {
	/* background-color: rgb(117, 117, 117); */
	/* background-color: #313c48; */
	background-color: rgb(120, 120, 120);
	height: 2px;
	margin-top: 2px;
	/* border-radius: 4px; */
}

.actual {
	background-color: rgb(215, 215, 215);
}

.remaining {
	background-color: rgb(120, 120, 120);
}


/***************************** BOTTOM *****************************/

.pop-bottom-div {
	/* background-color: red; */
	/* height: 25px; */
	border-top: 1px solid rgb(45, 49, 60);
	margin: 0 8px;
	padding-top: 8px;
	/*padding: 0 8px; */
}




.results-container {
	/* background-color: orange; */
	/* height: 20px; */
	width: 100%;
	margin-bottom: 8px;
}

.main-title-info {
	font-size: 0.7em;
	color: rgb(155, 155, 155);
	/* margin: 0 0 0 2px; */
	margin: 0;
	padding: 0;
}

.line-results {
	/* background-color: rgb(60, 60, 184); */
	/* height: 20px; */
	width: 100%;
	height: fit-content;
	display: flex;
	margin-top: 4px;
}

.line-results-left {
	display: flex;
	flex-direction: column;
	padding-right: 7px;
	border-right: 1px solid rgb(45, 49, 60);
}

.line-results-right {
	/* background-color: red; */
	display: flex;
	padding-left: 7px;
	flex-direction: column;
	/* flex: 1; */
}

.number-label {
	/* position: relative; */
	/* background-color: orange; */
	pointer-events: none;
	color: rgb(122, 122, 122);
	font-size: 0.5em;
	margin: 0 0 2px 2px;
	padding: 0;
	top: -6px;
	white-space: nowrap;
	transition: 0.2s ease all;
}

.number-result {
	/* font-size: 0.9em; */
	background-color: #313c48;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: fit-content; */
	min-width: 25px;
	padding: 4px 6px 1px 6px;
	/* padding: 0; */
	margin: 0;
	font-size: 0.8em;
	border-radius: 4px;
	color: rgb(198, 198, 198);
	border: 2px solid rgb(45, 49, 60);
}

/* .line-separator {
	background-color: red;
	width: 2px;
	height: 100%;
} */

/*------------------------------------------------------------------------------*/


.text-bottom
{
	padding: 0;
	margin: 0 8px;
	font-size: 0.9em;
	color: #3b404e;
}

.dev-pos
{
	color: white;
	font-size: 1em;
}

.dev-refresh
{
	height: 700px;
	width: 100%;
	background: #3b404e;
	cursor: pointer;
	color: white;
	text-align: center;
}

.div-month
{
	justify-content: center;
	align-items: center;
}

.dev-refresh-button {
	position: absolute;
	width: 120px;
	right: 10px;
	top: 10px;
	padding: 8px 0;
	background: orange;
	border-radius: 6px;
	color: white;
}