* 
{
	font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
}

body
{
	background: #12141a;
}

.main-div 
{
	background: #1d2028;
	box-sizing: border-box;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-logcash 
{
	/* background-color: red; */
	/* height: 100%; */
	/* z-index: 1; */
	/* display: flex;
	justify-content: space-between; */
}

.container-month 
{
	width: 100%;
}

.row-top, .row-bottom
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-top p
{
	font-size: 0.9em;
}

.text-month
{
	color: #787d87;
	padding: 3px 8px;
}

.text-cash
{
	color: #b1b1b3;
}

.row-progress-bar 
{
	/* background: #2d313c; */
	display: flex;
	justify-content: space-evenly;
	/* border: 2px solid #3a3f4c; */
	border: 2px solid #2d313c;
	/* box-shadow: 0 0px 10px #12141a75; */
	/* height: 40px; */
	/* border-radius: 5px; */
	/* margin: 8px 0; */
	position: relative;
}

.setting-div {
	/* background-color: red; */
	height: 100%;
	right: 5px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting-button {
	height: 70%;
	aspect-ratio: 1/1;
	background-image: url("icons/settings-5.svg");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0;
	border-radius: 50%;
	transition: 0.4s ease opacity;
}

.side-progress
{
	/* background: #252932; */
	/* background: #2d313c; */
	/* min-width: 40px; */
	/* width: 10%; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* cursor: pointer; */
}

.text-progress
{
	/* padding: 5px 0 0 0; */
	/* margin: 0;
	color: #a8aeb9; */
}


.side-remaining
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.text-remaining
{
	/* background: #234a92; */
	/* padding: 5px 0 0 0;
	margin: 0;
	color: #595d62;
	cursor: pointer; */
}

/*------------------------------------------------------------------------------*/
.popup-remaining
{
	/* border: 1px solid #2d313c;
	top: 80px;
	right: 20px;*/
	width: fit-content;
	/* display: flex;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 10px 20px #12141a3a; */
	/* background-color: #f4f4f4; */
	/* background-color: #191919d2; */
	/* background-color: red; */
	flex-direction: column;

}

.popup-top-div {
	/* background-color: orange; */
	/* height: 30px; */
	/* height: fit-content; */
	/* width: 100%; */
	/* border-radius: 4px;
	border-bottom: 1px solid #2d313c; */
	/* display: flex; */
	/* flex-direction: column;
	justify-content: flex-start; */
	/* white-space: nowrap; */
	/* color: #9b9b9b;
	padding: 6px 30px 6px 6px; */
	/* padding: 4px 30px 4px 4px; */
}

.popup-top-left-text {
	/* color: #c5c5c6;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 20px; */
	/* margin: 10px 10; */
	/* padding: 0 4px; */
	/* text-shadow: rgb(0, 0, 0) 0px 0px 3px; */
	/* padding: 1px 3px 2px 3px; */
	/* margin: 3px 0 0 3px;
	padding: 0; */
}

.popup-top-right-text {
	/* color: #c5c5c6;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 20px; */
	/* margin: 10px 10; */
	/* margin: 2px 0 0 0;
	padding: 2px 3px;
	width: fit-content;
	border-radius: 2px; */
	/* text-shadow: rgb(0, 0, 0) 0px 0px 3px; */
}

.popup-top-right-text:hover {
	background-color: #1b1e25;
	color: #e2e2e2;
}

.pop-middle-div {
	padding: 7px 7px 0 7px;
	display: flex;
}

.pop-middle-div-left {
	/* background-color: orange; */
	padding-right: 7px;

	/* height: 100%; */
	border-right: 1px solid rgb(45, 49, 60);
}

.middle-line-1, .middle-line-2 {
	display: flex;
}


.pop-input-container {
	background-color: #373c48;
	max-height: fit-content;
	max-width: 80px;
	padding: 6px;
	color: white;
	border: 2px solid rgb(45, 49, 60);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.inputText, .inputText:focus {
	background-color: #313c48;
	color: rgb(198, 198, 198);
	outline: none;
	border: none;
	font-size: 16px;
}

.pop-input:focus-within {
	border: 2px solid rgb(78, 85, 101);
}

.label-input {
	pointer-events: none;
	color: rgb(122, 122, 122);
	font-size: 10px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.middle-line-2 {
	/* background-color: red; */
	/* width: 100%; */
	margin: 7px 0 0 0;
	border-top: 1px solid rgb(45, 49, 60);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*******************************  BLOC WEEK/MONTH  ********************************/
.habit-container {
	/* width: 100%; */
	/* background-color: blue; */
	width: fit-content;
	padding: 5px 0 8px 0;
	font-size: 12px;
	color: rgb(155, 155, 155);
}

.monthly-habit {
	/* background-color: orange; */
	/* width: 100%; */
	/* height: 20px; */
	width: fit-content;
	padding: 5px 0 8px 0;
	font-size: 12px;
	color: rgb(155, 155, 155);
	/* display: flex;
	flex-direction: column;
	align-items: stretch; */
}

.habit-container span {
	/* margin-left: 6px; */
	/* background-color: white; */
	/* flex: 1; */
	/* width: 100%; */
	padding: 2px 4px;
	cursor: pointer;
	transition: ease 0.5s all;
}

.week-container, .month-container {
	width: fit-content;
	/* background-color: blue; */
	display: none;
	/* justify-content: center; */
	flex-direction: column;
	margin-top: 6px;
	/* margin: 4px 0 8px 4px; */
}

.days-name-line {
	display: flex;
	margin-top: 2px;
}

.days-name-box {
	color: rgb(198, 198, 198);
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	font-weight: bold;
	margin: 0 1px;
}

.line-habit {
	/* background-color: pink; */
	/* width: fit-content; */
	width: 100%;
	min-height: 20px;
	display: flex;
	margin-top: 2px;
	/* flex: 1; */
	/* justify-content: space-around; */
}

.checkbox-habit {
	background-color: #313c48;
	color: rgb(198, 198, 198);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 8px;
	font-weight: bold;
	margin: 0 1px;
	border: 2px solid rgb(45, 49, 60);
}

.day-passed-habit {
	/* background-color: #313c48; */
	/* background-color: "red"; */
	/* margin: 0 1px;
	border: 2px solid rgba(45, 49, 60, 0); */
}

.actual-day-habit {
	/* background-color: #313c48; */
	background-color: "blue";
	/* margin: 0 1px;
	border: 2px solid rgba(45, 49, 60, 0); */
}


.pop-middle-div-right {
	/* background-color: grey; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* padding-left: 8px; */
	padding-bottom: 8px;
	flex: 1;
	min-width: 175px;
	/* width: 125px; */
}

.div-info {
	/* background-color: red; */
	margin: 2px 2px 2px 0;
	display: flex;
	justify-content: space-between;
}

.title-info {
	color: rgb(155, 155, 155);
	margin: 0;
	padding: 0;
	font-size: 0.6em;
}

.p-open-day-result {
	color: aliceblue;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
}

.salary-container {
	/* background-color: red; */
	width: 100%;
	/* height: 20px; */
	/* margin-bottom: 8px; */
	/* padding-bottom: 8px; */
	/* border-bottom: 1px solid rgb(45, 49, 60); */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* align-items: center; */
	
}

.line-this-selection {
	height: 18px;
	/* background-color: orange; */
	margin-top: 8px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.this-button {
	/* background-color: white; */
	font-size: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	border-radius: 9px;
	color: rgb(155, 155, 155);
	/* border: 1px solid rgb(78, 85, 101); */
	/* border: 1px solid rgb(65, 70, 84); */
	border: 1px solid rgb(51, 55, 67);
	cursor: pointer;
}

.selected {
	background-color: white;
	color: #191919;
}

/************************* SALARY *************************/

.salary-circle-container {
	/* background-color: orange; */
	padding: 8px;
}

.salary-circle {
	background-color: rgba(37, 41, 50, 0.5);
	box-shadow: inset 0px 0px 10px rgba(16, 16, 16, 0.5);
	/* background-color: red; */
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid rgb(51, 55, 67);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	/* align-items: flex-end; */
	/* background-color: rgb(37, 37, 143); */
}

.salary-info-container {
	/* background-color: pink; */
	position: absolute;
	top: 30%;
	/* left: 50%; */
	/* background-color: rgb(182, 214, 182); */
	/* opacity: 0; */
}

.salary-amount-line {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 0 4px;
	border-radius: 6px;
}

.salary-euro-sign {
	margin: 4px 2px 0 0;
	padding: 0;
	color: rgb(176, 176, 176);
	font-size: 10px;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.salary-integer {
	margin: 0 2px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

.salary-float {
	margin: 3px 0 0 1px;
	padding: 0;
	font-size: 12px;
	/* color: rgb(233, 233, 233); */
	color: rgb(211, 211, 211);
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

.salary-percent-line {
	/* background-color: green; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.salary-percent {
	margin: 0;
	padding: 0;
	font-size: 10px;
	/* color: rgb(169, 169, 169); */
	color: rgb(176, 176, 176);
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.salary-slide {
	background-color: rgba(0, 186, 188, 0.80);
	height: 0%;
	width: 100%;
	bottom: 0;
	border-radius: 50%/8px 8px 0 0;
	box-shadow: inset 0px -10px 30px rgba(16, 16, 16, 0.4);
	/* position: absolute; */
}

/***************************** GRAPH *****************************/


.salary-graph-container {
	/* background-color: red; */
	/* height: 20px; */

	width: 100%;
	/* margin-top: 4px; 				ONLY if on top*/
	display: flex;
	justify-content: center;
}

.line-graph {
	height: 30px;
	height: 50px;
	/* width: 100%; */
	/* background-color: orange; */
	/* border-top: 1px solid rgb(51, 54, 65); */
	flex: 1;
	padding: 0 6px;
	display: flex;
	justify-content: center;
}

.day-graph {
	/* background-color: blue; */
	/* width: 3px; */
	/* width: 100%; */

	flex: 1;
	max-width: 16px;
	height: 100%;
	margin: 0 1px;		/* depending of month or week displayed */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.day-slide-container {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	border-radius: 2px 2px 0 0;
	/* border: 1px solid rgb(51, 54, 65); */
	/* background-color: #313c48;
	background-color: rgb(117, 117, 117); */
}

.day-slide {
	background-color: rgba(0, 186, 188, 0.40);
	/* border: 1px solid rgba(0, 186, 188, 0.60); */
	border: 1px solid rgba(0, 186, 188, 0.30);
	border-radius: 2px 2px 0 0;
	pointer-events: none;
	transition: ease 0.2s background-color;
}

.day-slide-container:hover {
	/* background-color: rgba(0, 186, 188, 0.60); */
	/* height: 100%;
	border-radius: 2px 2px 0 0; */
}

.day-base {
	/* background-color: rgb(117, 117, 117); */
	/* background-color: #313c48; */
	background-color: rgb(120, 120, 120);
	border: 1px solid rgba(95, 95, 95, 0.5);
	height: 3px;
	margin-top: 2px;
	border-radius: 1px;
}

.actual {
	background-color: rgb(215, 215, 215);
}

.remaining {
	background-color: rgb(120, 120, 120);
}

.tooltip-salary {
	/** DEV **/
	/* top: 270px;		
	left: 475px; */
	
	opacity: 0;
	position: absolute;
	background-color: rgba(46, 51, 61, 0.9);
	width: 50px;
	height: 23px;
	padding: 3px;
	border-radius: 4px;
	border: 1px solid rgb(51, 54, 65);
	box-shadow: 0px 10px 20px #12141a3a;
	color: #f0f0f0;
	z-index: 1000;
	transition: ease 0.2s opacity;
	display: flex;
	flex-direction: column;
}

.tooltip-top-text {
	width: 100%;
	/* height: 20px; */
	/* background-color: orange; */
	font-size: 8px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgb(155, 155, 155);
}

.tooltip-bottom-text {
	width: 100%;
	/* height: 20px; */
	/* background-color: green; */
	font-size: 12px;
	text-align: center;
	padding: 0;
	margin: 0;
}


/***************************** BOTTOM *****************************/

.pop-bottom-container {
	/* background-color: pink; */
	
	overflow: hidden;
	position: relative;
	width: 100%;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.pop-bottom-div {
	/* background-color: green; */
	/* background-color: rgba(30, 35, 42, 0.8); */
	border-top: 1px solid rgb(45, 49, 60);
	/* margin: 8px 0; */

	/* padding-top: 8px; */
	/*padding: 0 8px; */
	/* transition: ease 2s box-shadow; */
	transition: ease 0.5s background-color, ease 0.5s box-shadow;
	/* box-shadow: -8px 0 8px rgba(30, 35, 42, 0.7), 8px 0 8px rgba(30, 35, 42, 0.8), 0px 8px 8px rgba(30, 35, 42, 0.8); */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .pop-bottom-container:hover { */
.pop-bottom-div:hover {
	/* background-color: red; */
	/* box-shadow: -4px 0 4px rgba(30, 35, 42, 0.7), 4px 0 4px rgba(30, 35, 42, 0.8); */
}

.more-info-container {
	/* background-color: green; */
	display: flex;
	justify-content: center;
	/* margin: 8px 8px 0 8px; */
	/* padding: 4px; */
	/* margin: 8px 0; */
	padding: 4px 0;
	width: 100%;
	border-top: 1px solid rgb(45, 49, 60);
	/* border-top: 1px solid rgba(45, 49, 60, 0); */
	/* transition: ease 0.5s background-color, ease 0.5s border-top, ease 0.5s padding; */
	transition: ease 0.5s background-color, ease 0.5s padding;
}

.more-info-logo {
	/* background-color: red; */
	background-image: url("icons/more-1.svg");
	aspect-ratio: 1/1;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	/* height: 20px; */
	height: 0px;
	border-radius: 50%;
	margin-top: 0px;
	
	transition: ease 0.5s height, ease 0.5s margin-top;
	
	/* display: none; */
	/* margin: 4px; */
	/* width: 10px;
	height: 10px; */
}




.results-container {
	display: flex;
	justify-content: flex-start;
}

.results-div {
	width: fit-content;
	display: none;
	display: block;							/* TEMP */
	border-right: 1px solid rgb(45, 49, 60);
	padding: 8px 0;
	/* padding: 8px 8px 8px 8px; */
}

.main-title-info {
	font-size: 12px;
	color: rgb(155, 155, 155);
	/* margin: 0 0 0 2px; */
	margin: 0 8px;
	padding: 0;
}

.line-results {
	/* background-color: rgb(60, 60, 184); */
	/* height: 20px; */
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	margin-top: 4px;
}

.line-results-left {
	/* background-color: green; */
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-right: 7px; */
	border-right: 1px solid rgb(45, 49, 60);
}

.line-results-right {
	/* background-color: blue; */
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number-label {
	/* background-color: orange; */
	pointer-events: none;
	color: rgb(122, 122, 122);
	font-size: 10px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	transition: 0.2s ease all;
}

.number-result {
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-width: 25px;
	padding: 2px 0 0 0;
	margin: 0;
	font-size: 16px;
	border-radius: 4px;
	color: white;
}

.checkbox-boost {
	/* background-color: red; */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #313c48;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(45, 49, 60);
	/* border: 2px solid rgb(0, 186, 188); */
}

.checkbox-boost-center {
	/* background-color: rgb(0, 186, 188); */
	width: 12px;
	height: 12px;
	border-radius: 50%;
	color: rgb(198, 198, 198);
}

.line-estimation-block {
	/* height: 10px; */
	/* width: 100%; */
	/* background-color: blue; */
	padding: 0 8px;
	flex: 1;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgb(45, 49, 60);
}

/*------------------------------------------------------------------------------*/


.text-bottom
{
	padding: 0;
	margin: 0 8px;
	font-size: 0.9em;
	color: #3b404e;
}

.dev-pos
{
	color: white;
	font-size: 1em;
}

.dev-refresh
{
	height: 700px;
	width: 100%;
	background: #3b404e;
	cursor: pointer;
	color: white;
	text-align: center;
}

.div-month
{
	justify-content: center;
	align-items: center;
}

.dev-refresh-button {
	position: absolute;
	width: 120px;
	right: 10px;
	top: 10px;
	padding: 8px 0;
	background: orange;
	border-radius: 6px;
	color: white;
}

.dev-client-x {
	position: absolute;
	color: white;
	font-size: 1.5em;
	left: 50%;
	background-color: red;
}